{% load static %}

<div class="row video-container-section2">

    <div class="col-md-4 center-text category video-container video4" data-aos-once="true" data-aos="fade" data-aos-duration="400" data-aos-easing="ease-in-back">
        <div class="picture-category">
            <img src="{% static 'icona_shop/img/home_video_4.png' %}" class="img-responsive center-block"/>
        </div>

        <!--
        <div class="text-video">
            Absolute gaze, Oh my lashes!, Define big.
Migliora i tuoi occhi con i nuovi mascara Icona.
        </div>

        <div class="tag-video">
            #iconamilano #iconamakeup #absolutegaze #definebig
#ohmylashes #makeuplover #ilovemakeup
#Instamakeup #makeupaddict #beauty #makeup
#italianstyle #italianmakeup #mascaras #mascaraicona
#eyesmakeup #makeupeyes
        </div>
        -->
    </div>

    <div class="col-md-4 center-text category video-container video5" data-aos-once="true" data-aos="fade" data-aos-offset="220" data-aos-duration="400" data-aos-easing="ease-in-back">
        <div class="picture-category">
            <img src="{% static 'icona_shop/img/home_video_5.png' %}" class="img-responsive center-block"/>
        </div>

        <!--
        <div class="text-video">
            Icona è sensualità, libertà ed eleganza. Che tipo di donna Icona sei?
        </div>

        <div class="tag-video">
            #iconamilano #iconamakeup
#makeuplover #ilovemakeup #instamakeup
#makeupaddict #beauty #makeup #italianstyle
#italianmakeup #sensual #free #elegant #iconawomen
#personality #style #differentstyles
        </div>
        -->
    </div>

    <div class="col-md-4 center-text category video-container video6" data-aos-once="true" data-aos="fade zoom-in"  data-aos-duration="400" data-aos-easing="ease-in-back">
        <div class="picture-category">
            <img src="{% static 'icona_shop/img/home_video_6.png' %}" class="img-responsive center-block"/>
        </div>

        <!--
        <div class="text-video">
            Che estate sarebbe senza il nuovo mascara
impermeabile Absolute gaze?
        </div>

        <div class="tag-video">
            #iconamilano #iconamakeup #makeuplover
#ilovemakeup #Instamakeup #makeupaddict #beauty
#makeup #italianstyle #italianmakeup #absolutegaze
#waterproofmascara #summer #summer
        </div>
        -->
    </div>
</div>