{% load static %}

<div class="row">
    <div class="header-video" data-aos="fade" data-aos-once="true" data-aos-duration="400" data-aos-easing="ease-in-back">
        Entra nel mondo Icona e lasciati emozionare!
    </div>
    <div class="col-md-4 center-text category video-container video1" data-aos-once="true" data-aos="fade" data-aos-easing="ease-in-back">
        <div class="picture-category">

            <div class="fb-video" data-href="https://www.facebook.com/iconamilanomakeup/videos/523134248200474/" data-width="500" data-show-text="false"><blockquote cite="https://www.facebook.com/iconamilanomakeup/videos/523134248200474/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/iconamilanomakeup/videos/523134248200474/">ICONA ESSENTIAL CHIC - Gli ombretti</a><p>ESSENTIAL CHIC è la palette ombretti compatti dalla resa colore intensa e omogenea. Facile da applicare, è disponibile in diversi finish per infiniti effetti cromatici tutti da provare. Crea il tuo look, perfetto per il giorno e per la sera! #iconamilano #iconamakeup</p>Publicado por <a href="https://www.facebook.com/iconamilanomakeup/">Icona Milano make-up</a> en Miércoles, 5 de diciembre de 2018</blockquote></div>

        </div>

        <!--
        <div class="text-video">
            È tempo di rinnovarci! Icona gestisce direttamente
            i propri clienti, senza intermediari, per garantire
            un maggiore contatto. Grazie alla nostra forza vendita
            dedicata siamo pronti a dare il massimo supporto
            per le richieste e informazioni sui nostri prodotti.
            Ricorda: SOLO Icona VENDE Icona.
        </div>

        <div class="tag-video">
            #iconamilano #iconamakeup #onlyiconasellsicona
#makeuplover #ilovemakeup #makeupaddict #beauty
#makeup #italianstyle #italianmakeup #nointermediaries
#customers #announce
        </div>
        -->
    </div>

    <div class="col-md-4 center-text category video-container video2" data-aos="fade" data-aos-once="true" data-aos-duration="400" data-aos-easing="ease-in-back">
        <div class="picture-category">
            <img src="{% static 'icona_shop/img/home_video_2.png' %}" class="img-responsive center-block"/>
        </div>

        <!--
        <div class="text-video">
            Icona ama ogni tipo di bellezza, anche la tua!
        </div>

        <div class="tag-video">
            #iconamilano #iconamakeup #makeuplover
#ilovemakeup #Instamakeup #makeupaddict #beauty
#makeup #italianstyle #italianmakeup
        </div>
        -->
    </div>

    <div class="col-md-4 center-text category video-container video3" data-aos="fade zoom-in"  data-aos-once="true" data-aos-duration="400" data-aos-easing="ease-in-back">
        <div class="picture-category">
            <img src="{% static 'icona_shop/img/home_video_3.png' %}" class="img-responsive center-block"/>
        </div>

        <!--
        <div class="text-video">
            L’attesa è finita, i nuovi rossetti Icona sono finalmente
arrivati! Provali tutti!
        </div>

        <div class="tag-video">
            #iconamilano #iconamakeup #makeuplover
#ilovemakeup #Instamakeup #makeupaddict #beauty
#makeup #italianstyle #italianmakeup #lipstick
#cosmetic #cosmetics #lip #lips #beautiful
        </div>
        -->
    </div>
</div>