{% load static i18n %}

<link rel="stylesheet" href="{% static "icona_shop/css/mascara_area.css" %}?ver=2.1">

<div class="image_area_container" data-aos="fade" data-aos-offset="240" data-aos-once="true">
    <div class="region-image">
        <div class="col-md-6 col-padding-right0">
            <div class="header-mascara">
                <div class="mascara-effect">
                    {% trans "Mascara" %}
                </div>

                <div class="nuovi-effect">
                    {% trans "Nuovi" %}
                </div>
            </div>
            <div class="information">
                <div class="effect-testai">
                    {% trans "Oftalmologicamente testati" %}
                </div>
                <div class="col-md-4 padding-right-5">
                    <div class="mask-description">
                        Ciglia smisuratamente volumizzate già dal primo passaggio!
                    </div>

                    <div class="points"></div>

                    <div class="text-large">
                        <div class="title">OH MY LASHES!</div>
                        <div class="text-large-body">
                            Extra volume
                        </div>
                    </div>
                </div>

                <div class="col-md-4 less-padding">
                    <div class="mask-description">
                        Definizione e volume fin dalla prima applicazione.
                    </div>

                    <div class="points"></div>
                    <div class="text-large">
                        <div class="title">DEFINE BIG</div>
                        <div class="text-large-body">
                            Alta definizione
                        </div>
                    </div>
                </div>

                <div class="col-md-4 padding-left-5">
                    <div class="mask-description">
                        Mare, piscina, caldo, pioggia, lacrime non sono più un problema!
                    </div>

                    <div class="points"></div>
                    <div class="text-large">
                        <div class="title">ABSOLUTE GAZE</div>
                        <div class="text-large-body">
                            Waterproof
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <a href="/occhi">
                <div class="button-black button-black-mask">
                    {% trans "Scopri di più" %}
                </div>
            </a>

        </div>



        <div class="col-md-6 remove-padding">
            <img src="{% static "icona_shop/img/home_mascara_mitad_derecha.jpg" %}"
             class="img-responsive mascara-image"/>
        </div>

        <div class="clearfix"></div>
    </div>


    <div class="clearfix"></div>
</div>

<div class="image_area_container visible-991 gradientbox" data-aos="fade" data-aos-offset="240" data-aos-once="true">
    <div class="info-text">
        <div class="header-mascara">
            <div class="mascara-effect-movil col-xs-9">
                {% trans "Mascara" %}
            </div>


            <div class="nuovi-effect-movil col-xs-6">
                {% trans "Nuovi" %}
            </div>
        </div>



        <div class="block-mascara col-xs-12">
            <div class="header-mask-movil">
                Oftalmologicamente testati
            </div>

            <div class="mask-description-movil">
                Ciglia smisuratamente volumizzate già dal primo passaggio!
            </div>
            <div class="points points-block"></div>
            <div class="info-text-large">
                <div class="title">OH MY LASHES!</div>
                <div class="info-text-large-body">
                    Extra volume
                </div>
            </div>
        </div>
        <div class="block-mascara col-xs-12">
            <div class="mask-description-movil">
                Definizione e volume fin dalla prima applicazione.
            </div>
            <div class="points points-block"></div>
            <div class="info-text-large">
                <div class="title">DEFINE BIG</div>
                <div class="info-text-large-body">
                    Alta definizione
                </div>
            </div>
        </div>

        <div class="block-mascara col-xs-12">
            <div class="mask-description-movil">
                Mare, piscina, caldo, pioggia, lacrime non sono più un problema!
            </div>
            <div class="points points-block"></div>
            <div class="info-text-points"></div>
            <div class="info-text-large">
                <div class="title">ABSOLUTE GAZE</div>
                <div class="info-text-large-body">
                    Waterproof
                </div>
            </div>
        </div>
    </div>
    <div class="img-mascara2">
        <img src="{% static "icona_shop/img/Area_dedicata_home_Lancio_Mascara-2.jpg" %}"
             class="img-responsive image-mas"/>
    </div>
</div>

<div class="clearfix"></div>
